__pycache__
.env
upload_files
.aider*
.vscode
test
logs
storage
/models
nexcoder
nexcoder_test
.idea
conda/*.sh
*Zone.Identifier
docker/volumes
envConfig.ts
docker/docker-compose.yml
scripts/test*.py
/supervisord.conf
/docker-compose.yml
.history
